body {
  color: #000 !important;
}

.header-group {
  margin-bottom: 20px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

p {
  margin: 0;
}

.section {
  padding: 10px 20px;
}

.forms-heading {
  color: #F48400;
} 

@media (min-width: 1200px) {
  .container {
      max-width: 1020px;
  }
}
.navbar-logo {
  display: block;
  width: 100%;
  max-width: 200px;

  @media only screen and (min-width: 425px) {
    display: inline;
  }
}

.navbar-logo-jmf {
  width: 60px;
}

.navbar-logo-ci {
  padding-left: 12px;

  @media only screen and (min-width: 425px) {
    padding-left: 0;
  }
}

.header {
  padding: 40px 20px 20px 20px;

  // @media only screen and (min-width: 768px) {
  //   padding-top: 60px;
  // }
}

.header-col {
  padding-left: 16px;
}

.header-group:nth-child(1) {
  margin-bottom: 30px;
}

.forms {
  .row {
    margin-bottom: 60px;
  }

  .col-xs-12 {
    margin-bottom: 60px;

    @media only screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  .form-row-one {
    margin-bottom: 40px;
  }
}

.navbar {
  // background-color:rgb(52, 132, 195) !important;
  padding: 0;
}

.footer {
  background-color: rgb(52, 132, 195);
  color: #fff;
  padding: 18px 0;
}